@import './mixins';

.cards-container {
  font-size: 15px;
  width: 90vw;
  margin: 30px auto 30px;
  max-width: 1200px;

  @media (min-width: 1200px) {
    display: flex;
  }
}

.card {
  @include card;

  &:first-child {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    @media (min-width: 1200px) {
      border-top-right-radius: 0;
      border-bottom-left-radius: $border-radius;
    }
  }

  &:last-child {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    @media (min-width: 1200px) {
      border-top-right-radius: $border-radius;
      border-bottom-left-radius: 0;
    }
  }

  &-orange {
    background-color: $bright-orange;

    .card__button {
      color: $bright-orange;

      &:hover {
        background-color: $bright-orange;
        color: $very-light-gray;
      }
    }
  }

  &-blue {
    background-color: $dark-cyan;

    .card__button {
      color: $dark-cyan;

      &:hover {
        background-color: $dark-cyan;
        color: $very-light-gray;
      }
    }
  }

  &-green {
    background-color: $very-dark-cyan;

    .card__button {
      color: $very-dark-cyan;

      &:hover {
        background-color: $very-dark-cyan;
        color: $very-light-gray;
      }
    }
  }
}
