* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0c122c;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: white;
}

.storage {
  margin: 10% auto;
  width: 90vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.storage .storage__header {
  background-color: #1d2c67;
  width: 90%;
  height: 45%;
  padding: 30px;
  border-radius: 15px 90px 15px 15px;
}

.storage .storage__header .logo-container {
  width: 70%;
}

.storage .storage__header .logo-container img {
  width: 100%;
}

.storage .storage__header .storage__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.storage .storage__header .storage__options button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #0c122c;
  cursor: pointer;
}

.storage .storage__header .storage__options button:hover {
  background-color: #848794;
}

.storage .storage__info {
  position: relative;
  background-color: #1d2c67;
  width: 90%;
  height: 40%;
  border-radius: 15px;
  padding: 30px;
}

.storage .storage__info .message {
  width: 100%;
  text-align: center;
}

.storage .storage__info .message span {
  font-weight: 800;
}

.storage .storage__info form {
  margin-top: 30px;
  width: 100%;
  height: 30%;
}

.storage .storage__info form .range {
  position: relative;
  width: 100%;
  height: 25px;
  background-color: #0c122c;
  border-radius: 25px;
  padding: 4px;
}

.storage .storage__info form .range .progress {
  width: 55%;
  height: 18px;
  background: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: 25px;
}

.storage .storage__info form .range .slider {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 16px;
  width: 16px;
  background-color: white;
  border-radius: 50%;
}

.storage .storage-left-label {
  position: absolute;
  bottom: -12%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 30%;
  background-color: white;
  color: #1d2c67;
  border: none;
  border-radius: 15px;
}

.storage .storage-left-label p {
  text-align: center;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  font-size: 1.2rem;
}

.storage .storage-left-label .storage-left-amount {
  font-size: 1.8rem;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */